<%- include('./includes/head.ejs') %>

<body>
<!-- Header -->
<%- include('./includes/header.ejs') %>
<main>
    <div class="custom-container pt-54">
        <form method="POST">
            <!-- По левому краю: удалить justify-content-around и поставить text-left -->
            <div class="justify-content-around text-center">
                <div class="row">
                    <!-- По левому краю: pl-0 в каждом из блоков col-lg-2-->
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="school">
                            Школа
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="physics">
                            Физика
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="learning">
                            Обучение
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="psychology">
                            Психология
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="info">
                            Материалы
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <button type="submit" class="btn txt-30" name="selection" value="exams">
                            Экзамены
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="contain">
            <% if(articles.length > 0) { %>
                <% for (let i = 0; i < articles.length; i++) { %>
                    <% if (i%2 === 0) {%>
                        <div class="row pt-54">
                            <div class="col-lg-8 col-sm-12">
                                <p class="txt-40 font-playfair pb-2">
                                    <%= articles[i].headline %>
                                </p>
                                <p class="txt-23 font-playfair">
                                    <%= articles[i].text %>
                                </p>
                            </div>
                            <div class="col-lg-1 pl-0">
                                <!-- <img src="images/"> -->
                            </div>
                        </div>
                    <% } else {%>
                        <div class="row pt-54">
                            <div class="col-lg-4 col-sm-12 my-auto pb-4">
                                <img src="images/5.jpg" class="img-fluid <%= i === 1 ? '' : 'd-none' %>">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <p class="txt-40 font-playfair pb-2">
                                    <%= articles[i].headline %>
                                </p>
                                <p class="txt-23 font-playfair">
                                    <%= articles[i].text %>
                                </p>
                            </div>
                            <div class="col-lg-1 pl-0">
                                <!-- <img src="images/"> -->
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } else { %>
                <h3 class="text-center mt-6vh">Статьи не найдены</h3>
            <% } %>
        </div>
    </div>
</main>
<!-- Footer -->
<%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>
</body>
</html>